<!DOCTYPE html>
<html>
{% load staticfiles %}
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="renderer" content="webkit"/>
    <meta name="keywords" content=""/>
    <meta name="description" content="">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome/css/font-awesome.min.css'%}" rel="stylesheet">
     <link href="{% static 'css/index.css'%}" rel="stylesheet">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>课程模版</title>
</head>

<body>

 <div class="container">
     <div class="form-box">
         <div class="box-head">
            <h2>找回密码</h2>
         </div>
         <div class="box-body">
             <form class="register-form" id="fpw-form" method="post">
                <ul>
                    <li>
                        <input class="register-email form-control" type="text" placeholder="输入邮箱">
                    </li>
                    <li>
                        <input class="register-vertify form-control" type="text" placeholder="输入验证码">
                        <img src="" class="pull-right">
                    </li>
                    <li class="clearfix">
                        <button class="btn btn-large">下一步</button>
                    </li>
                </ul>
             </form>
         </div>

     </div>

 </div>

</body>